.c-botones{
	text-align: center;
    margin-top: 4rem;
    // border: 2px solid green;
    @include mq(smH){
        margin-top: 1.5rem;
    }
	@include mq(sm){
		margin-top: 3rem;
    }
    @include mq(lgm){
        margin-top: 2rem;
    }
}

.boton{
	@include boton-ovalado;
	margin: 0 1.5rem;
	letter-spacing: 2px;
	font-weight: 600;
}
