.c-botones{
  grid-area: botones;
  margin: auto;
  text-align: center;
  // border: 2px solid green;
}

.boton{
	@include boton-ovalado;
	margin: 0 1.5rem;
	letter-spacing: 2px;
	font-weight: 600;
}



.c-botones a{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  // background-color: color(text2);
  // &:hover{
  //   background-color: darken(color(text2), 10%);
  // }
}
