.c-botones{
  grid-area: botones;
  margin: auto;
  text-align: center;
  // border: 2px solid green;
}

.boton{
	@include boton-ovalado;
	margin: 0 1.5rem;
	letter-spacing: 2px;
	font-weight: 600;
}
