.c-footer{
	position: fixed;
    display: flex;
    width: 100%;
	justify-content: center;
	bottom: 0;
	& p, a{
		font-family: $primary-font;
		font-size: .8rem;
		font-weight: bold;
		color: color(text);
		padding: .5rem 0;
		letter-spacing: 2px;
	}
	& a{
		margin-left: 3px;
		color: color(success);
		&:hover{
			color: darken(color(success),6);
		}
	}
}
