form{
  grid-area: form;
  width: 95%;
  margin: auto;
	display: flex;
  // border: 1px solid red;
  max-width: 600px;
  @include mq(sm){
    width: 100%;
    max-width: 500px;
		padding: 0 1rem;
  }
  @include mq(lgm){
    width: 50%;
    max-width: 600px;
  }
}

input[type="text"]{
	width: 60%;
	line-height: 1.5;
  padding: .5rem;
  padding-left: 1rem;
	border: transparent;
	font-weight: 600;
  font-size: .9rem;
  background-color: white;
  color: black;
	letter-spacing: 2px;
  border-radius: 1.5rem 0 0 1.5rem;
  outline: none;
	@include mq(sm){
		width: 65%;
	}
	@include mq(mdl){
		width: 75%;
	}
}

button[type="submit"]{
	@include boton-ovalado;
	width: 40%;
	position: relative;
	line-height: 2;
	letter-spacing: 2px;
	font-weight: 600;
	font-family: $primary-font;
	font-size: .9rem;
	padding: 0 .2rem 0 .5rem;
	background-color: color(text2);
	color: white;
	border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  outline: none;
  &:hover{
    background-color: darken(color(text2), 5%);
  }
	@include mq(sm){
		width: 35%;
	}
	@include mq(mdl){
		width: 25%;
	}
	& i{
		position: absolute;
		top: .6rem;
		right: 75%;
	}
}
