.c-header{
	display: block;
	&-img{
		display: block;
		width: 40%;
    margin: 1rem auto;
    margin-bottom: .5rem;
    @include mq(smH){
      width: 24%;
      // border: 2px solid red;
    }
    @include mq(mdl){
      width: 20%;
    }
    @include mq(lgm){
      width: 15%;
    }
	}
	&-subtitle{
		text-align: center;
		color: color(text);
		font-size: 1.2rem;
		letter-spacing: 2px;
		@include mq(sm){
			font-size: 1.2rem;
		}
		@include mq(md){
			font-size: 1.4rem;
			text-transform: uppercase;
		}
		@include mq(mdl){
			font-size: 1.3rem;
			text-transform: uppercase;
		}
	}
}
