.c-main{
  display: grid;
  grid-template-areas:
                "contador"
                "form"
                "botones";
  grid-template-rows: repeat(3, 1fr);
  margin-top: 1rem;
}

.c-contador{
  grid-area: contador;
  display: block;
  margin: auto;
	text-align: center;
	// border: 2px solid green;
	&-countdown{
		display: flex;
		justify-content: center;
		color: color(text);
		font-weight: 400;
	}
}

//Diseño del countdown

.c-time{
	text-align: center;
  color: color(text);
  padding: .5rem;
	@include mq(md){
    width: 92px;
    border: 1px solid color(text);
		margin: 0 .2rem;
	}
	&-number{
		font-size: 1.7rem;
		letter-spacing: 2px;
		@include mq(lgm){
			font-size: 2rem;
		}
	}
	&-text{
		font-size: .8rem;
		letter-spacing: 2px;
		@include mq(lgm){
			font-size: .9rem;
		}
	}
}
