.c-sociales{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 150px;
  max-width: 200px;
  margin: 0 auto;
  & a{
    color: color(text);
    font-size: 1.5rem;
    @include mq(smm){
      font-size: 1.7rem;
    }
    @include mq(lgs){
      font-size: 2rem;
    }
    &:hover{
      color: darken(color(success), 5);
    }
  }
}
