//- Ejemplos
-let currentPage = 'inicio';
-let title = 'Hecho en Valpo';
-let descripcion = 'Plataforma web del proyecto Hecho en Valpo en construcción';

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
