//- Ejemplos
-let currentPage = 'inicio';
-let title = 'Hecho en Valpo';
-let descripcion = 'Somos la primera red de economía comunitaria en Valparaiso. Buscamos reconstruir los lazos horizontales que permiten el intercambio directo de los bienes y servicios generados en un mismo territorio.';

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}

//- <script type="text/javascript">
//-     (function () {
//-         var options = {
//-             facebook: "402198176649603", // Facebook page ID
//-             call_to_action: "Contáctanos ahora!", // Call to action
//-             position: "right", // Position may be 'right' or 'left'
//-         };
//-         var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
//-         var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
//-         s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
//-         var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
//-     })();
//- </script>
