.c-body{
	max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: img('valparaiso.jpg');
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: color(primary);
		opacity: .6;
	}
}

.c-layout{
  display: grid;
  grid-template-areas:
                "header"
                "main"
                "sociales"
                "footer";
  grid-template-rows: 1fr 2fr 1fr 10%;
  position: relative;
  border: 4px solid orange;
  height: 100%;
}

.c-header{
  grid-area: header;
  border: 2px solid red;
}

.c-main{
  grid-area: main;
  border: 2px solid green;
}

.c-sociales{
  grid-area: sociales;
  border: 2px solid blue;
}

.c-footer{
  grid-area: footer;
  border: 2px solid purple;
}
