block config
  include ../config/config

doctype
html(lang="es-cl")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="description" content= descripcion)
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet" href="css/styles.css")
  body.c-body#body
    div.c-layout
      block header
      block main
      block footer
      block script
        script(src="js/all.min.js")
        script(type="text/javascript").
          (function (){
            var options = {
              facebook: "402198176649603",
              call_to_action: "Contáctanos ahora!",
              position: "right",
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options);};
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          })();
