block config
  include ../config/config

doctype
html(lang="es-cl")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="description" content= descripcion)
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet" href="css/styles.css")
  body.c-body#body
    div.c-layout
      block header
      block main
      block footer
    script(src="js/all.min.js")
