form(action="enviar.php" id="formulario" name="formulario" method="post")
	input(type="text" name="email" placeholder=" Ingresa tu correo" id="myInput" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
	button(type="submit" id="btnSend") Enviar
		i(class="fas fa-check")
